body {
  margin: 0;
  display: flex;
  font-family: sans-serif;
}

canvas {
  flex-grow: 1;
  display: block;
}

#ui {
  width: 250px;
  padding: 1rem;
  background: #f2f2f2;
  border-right: 1px solid #ccc;
}

#ui input, #ui select, #ui button {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}
